%linksFooter {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: .8rem;
  font-weight: bold;
}

%titleFoot {
  color: $secondaryColor;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.foot {
  width: 100%;
  background-color: black;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr .3fr;
  grid-template-areas: 
    "a1 a2 a3 a4"
    "a5 a5 a5 a5";
  justify-items: center;
  align-items: center;

  .foot__logo {
    grid-area: a1;
  }
  .foot__links {
    grid-area: a2;
    margin: 10px;
    a {
      @extend %linksFooter
    }
  }

  .foot__contarrss {
    grid-area: a3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    h4 {
      @extend %titleFoot;
    }

    .foot__contarrss--img {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;

      img {
        width: 40px;

        display: flex;
        flex-direction: row;
        gap: 50px;
      }
    }
  }

  .foot__address {
    grid-area: a4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;

    h4 {
      @extend %titleFoot;
    }

    img {
      width: 50px;
    }

    a {
      @extend %linksFooter;
      text-align: center;
    }
  }
  .foot__dev {
    grid-area: a5;
    display: flex;
    justify-content: center;
    align-items: flex-end;

    p {
      margin-bottom: 0;
      color: whitesmoke;
      text-align: center;
      font-size: .9rem;
    }
  }
}