.navbar-collapse {
  text-align: center;

  .navbar-nav {
    color: $secondaryColor;
    font-size: 1.4rem;
    font-weight: bold;

    .nav-item {
      .nav-link {
        font-family: $fontRaleway;
        font-size: 1.3rem;
        color: $mainColor;
        text-decoration: none;
        transition: 0.5s;

        &:hover {
          font-size: 1.4rem;
          color: $secondaryColor;
        }
      }

      .nav-link.active {
        color: $secondaryColor;
        font-size: 1.4rem;
        font-weight: bold;
      }
    }
  }
}