/* @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300&display=swap');

@font-face {
  font-family: njnaruto;
  src: url(../fonts/LEMONMILK-Regular.otf);
  font-style: normal;
  font-weight: normal;
  font-family: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.navbar-collapse {
  text-align: center;
}

.navbar__img {
  width: 250px;
}

.navbar-nav a {
  font-family: njnaruto, sans-serif, Geneva, Tahoma;
  font-size: 1.3rem;
  color: #C77738;
  text-decoration: none;
  transition: .5s;
}

.navbar-nav a:hover {
  font-size: 1.4rem;
  color: #DD9A3A;
} */

.navbar-nav .nav-link.active {
  color: #DD9A3A;
  font-size: 1.4rem;
  font-weight: bold;
}

/* .carousel-item img{
  height: 100vh;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.500);
  border-radius: 20px;
  font-family: njnaruto, sans-serif, Geneva, Tahoma;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.900);

} */

/* .especialitytitle {
  font-family: njnaruto, sans-serif, Geneva, Tahoma;
  color: #C77738;
  text-align: center;
  padding: 30px;
}

.speciality {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;

  margin-bottom: 40px;
}

.especiality__div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.speciality__img {
  width: 100%;
}

.speciality__phar {
  width: 100%;
  text-align: justify;
} */

/* .foot {
  font-family: njnaruto, sans-serif, Geneva, Tahoma;
  width: 100%;
  background-color: black;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.foot__links,
.foot__address a {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: .8rem;
}

.foot__contarrss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.foot__contarrss h4 {
  color: #DD9A3A;
  text-align: center;
  font-size: 1.2rem;
}

.foot__contarrss--img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.foot__contarrss img {
  width: 60px;

  display: flex;
  flex-direction: row;
  gap: 50px;
}

.foot__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.foot__address img {
  width: 60px;
}

.foot__address h4 {
  color: #DD9A3A;
  text-align: center;
  font-size: 1.2rem;
}

.foot__address a {
  text-align: center;
} */

/* .us {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
}

.us__title {
  font-family: njnaruto, sans-serif, Geneva, Tahoma;
  font-size: 1.5rem;
  color: #DD9A3A;
  padding: 20px 0 20px 100px;


  border-top: 2px solid #C77738;
  border-bottom: 2px solid #C77738;
  margin-bottom: 20px;
}

.us__div {
  padding: 30px 0 30px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.us__div img {
  width: 400px;
}

.us__div p {
  width: 400px;
} */

/* .card-title {
  font-weight: bold;
}

.card-text {
  font-size: 1rem;
  margin-bottom: 0px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.menu img {
  width: 100%;
}

.menu__card p {
  font-size: 1rem;
} */

/* .cliente__principal {
  display: flex;
  justify-content: center;
}

.cliente__principal img {
  width: 400px;
}

.clientes__galeria {

  display: flex;
  width: 100%;
  height: 630px;
}

.clientes__galeria img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5 ease;
}

.clientes__galeria img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
} */

/* .contact {
  font-family: Raleway, sans-serif, Geneva, Tahoma;

  margin: 20px;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.formcontact {
  background-color: #DD9A3A;
  padding: 20px;
  border-radius: 10px;


  display: flex;
  justify-content: center;
  align-items: center;
}

.formcontact__left {

  display: flex;
  flex-direction: column;
  gap: 30px;
}

.formcontact__left input {
  border: 2px solid;
  border-color: #DD9A3A;
}

.formcontact__left textarea {
  border-radius: 10px;
  border: 2px solid;
  border-color: #DD9A3A;
}

.formcontact__right--phone {

  display: flex;
  flex-direction: column;
  align-items: center;
}

.formcontact__right--phone p {
  padding: 20px;
  font-size: 1.5rem;
}

.formcontact__right--phone img {
  width: 50px;
  margin: 10px;
}

.formcontact__right--map iframe {
  width: 300px;
  height: 300px;
}

.btn {
  background-color: #C77738;
} */

/* ANIMACIONES */

.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
  animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* FIN ANIMACIONES */

@media screen and (max-width: 991px) {
  .speciality {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  .speciality__img {
    width: 80%;
  }

  .foot {
    grid-template-columns: repeat(2, 1fr);
  }

  .foot__address a {
    text-align: center;
  }

  .us__div {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 576px) {
  .speciality {
    grid-template-columns: 1fr;
  }

  .speciality__img {
    width: 60%;
    margin-bottom: 2rem;
  }

  .speciality__phar {
    width: 60%;
    text-align: justify;
  }

  p {
    margin-bottom: 0 !important;
  }

  .foot {
    grid-template-columns: 1fr;
  }

  .foot__links {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    justify-content: center;
  }

  .foot__contarrss img {
    width: 40px;
  }

  .foot__contarrss h4 {
    font-size: 1.1rem;
  }

  .foot__contarrss {
    gap: 5px;
  }

  .foot__address {
    gap: 0px;
  }

  .foot__address h4 {
    font-size: 1.1rem;
  }

  .us__div img,
  .us__div p {
    width: 70%;
    font-size: .7rem;
    text-align: justify;
  }

  .clientes__galeria {
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: auto;
    gap: 30px;
  }

  .clientes__galeria img {
    width: 200px;
    object-fit: contain;
    opacity: 1;
    transition: none;
    flex-grow: 0;
  }

  .clientes__galeria img:hover {
    width: 200px;
    filter: contrast(100%);
  }

  .formcontact__right--map iframe {
    width: 160px;
    height: 160px;
  }
}