@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

a {
  text-decoration: none;
}

.titlePages {
  font-size: 1.5rem;
  font-weight: bold;
  color: #dd9a3a;
  padding: 20px 0 20px 100px;
  border-top: 2px solid #c77738;
  border-bottom: 2px solid #c77738;
  margin-bottom: 20px;
}

/* ANIMACIONES */
.tracking-in-expand-fwd {
  -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@keyframes tracking-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px);
    transform: translateZ(-700px);
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }

  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* FIN ANIMACIONES */
.navbar-collapse {
  text-align: center;
}

.navbar-collapse .navbar-nav {
  color: #dd9a3a;
  font-size: 1.4rem;
  font-weight: bold;
}

.navbar-collapse .navbar-nav .nav-item .nav-link {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
  color: #c77738;
  text-decoration: none;
  transition: 0.5s;
}

.navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  font-size: 1.4rem;
  color: #dd9a3a;
}

.navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #dd9a3a;
  font-size: 1.4rem;
  font-weight: bold;
}

.carousel-item img {
  height: 100vh;
}

.carousel-item .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.carousel-control-prev .carousel-control-next-icon,
.carousel-control-prev .carousel-control-prev-icon {
  background-color: rgba(0, 0, 0, 0.9);
}

.container .especialitytitle {
  color: #c77738;
  text-align: center;
  padding: 30px;
}

.speciality {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 30px;
  row-gap: 30px;
  margin-bottom: 40px;
}

.speciality .especiality__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.speciality .especiality__div .speciality__img {
  width: 100%;
}

.speciality .especiality__div .speciality__phar {
  width: 100%;
  text-align: justify;
}

.foot .foot__links a,
.foot .foot__address a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: .8rem;
  font-weight: bold;
}

.foot .foot__contarrss h4,
.foot .foot__address h4 {
  color: #dd9a3a;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.foot {
  width: 100%;
  background-color: black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
}

.foot .foot__contarrss {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.foot .foot__contarrss .foot__contarrss--img {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.foot .foot__contarrss .foot__contarrss--img img {
  width: 40px;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.foot .foot__address {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 20px;
}

.foot .foot__address img {
  width: 50px;
}

.foot .foot__address a {
  text-align: center;
}

.us .us__div {
  width: 100%;
  padding: 30px 0 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.us .us__div img {
  width: 50%;
}

.us .us__div .us__div p {
  width: 50%;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.menu .card img {
  width: 100%;
}

.menu .card .card-body .card-title {
  font-weight: bold;
}

.menu .card .card-body .card-text {
  font-size: 1rem;
  margin-bottom: 0px;
}

.clientes__galeria {
  display: flex;
  width: 100%;
  height: 630px;
}

.clientes__galeria img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5 ease;
}

.clientes__galeria img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.contact {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.contact .formcontact {
  background-color: #dd9a3a;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .formcontact .formcontact__left {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact .formcontact .formcontact__left input {
  border: 2px solid;
  border-color: #dd9a3a;
}

.contact .formcontact .formcontact__left textarea {
  border-radius: 10px;
  border: 2px solid;
  border-color: #dd9a3a;
}

.contact .formcontact__right .formcontact__right--phone {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact .formcontact__right .formcontact__right--phone p {
  padding: 5px;
  font-size: 1.5rem;
}

.contact .formcontact__right .formcontact__right--phone img {
  width: 50px;
  margin: 5px;
}

.contact .formcontact__right .formcontact__right--map iframe {
  width: 400px;
  height: 400px;
}

.btn {
  background-color: #C77738;
}

@media screen and (max-width: 991px) {
  .carousel-item img {
    height: 90%;
  }

  .speciality {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 30px;
  }

  .speciality__img {
    width: 80%;
  }

  .foot {
    grid-template-columns: repeat(2, 1fr);
  }

  .foot__address a {
    text-align: center;
  }

  .us__div {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 576px) {
  .container .navbar .navbar-brand img {
    width: 80%;
  }

  .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }

  .speciality {
    grid-template-columns: 1fr;
  }

  .speciality__img {
    width: 10px;
    margin-bottom: 2rem;
  }

  .speciality__phar {
    width: 60%;
    text-align: justify;
  }

  p {
    margin-bottom: 0 !important;
  }

  .foot {
    grid-template-columns: 1fr;
  }

  .foot__links {
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    padding-bottom: 30px;
    justify-content: center;
  }

  .foot__links a {
    text-align: center;
  }

  .foot__contarrss {
    gap: 5px;
  }

  .foot__contarrss img {
    width: 40px;
  }

  .foot__contarrss h4 {
    font-size: 1.1rem;
  }

  .foot__address {
    gap: 0px;
  }

  .foot__address h4 {
    font-size: 1.1rem;
  }

  .us__div img,
  .us__div p {
    width: 70%;
    font-size: 0.7rem;
    text-align: justify;
  }

  .clientes__galeria {
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
    height: auto;
    gap: 30px;
  }

  .clientes__galeria img {
    width: 200px;
    object-fit: contain;
    opacity: 1;
    transition: none;
    flex-grow: 0;
  }

  .clientes__galeria img:hover {
    width: 200px;
    filter: contrast(100%);
  }

  .formcontact__right--map iframe {
    width: 160px;
    height: 160px;
  }
}

@media screen and (max-width: 375px) {
  .container .navbar .navbar-brand img {
    width: 150px;
  }
}